header {
    width : 100%;
    height: 71px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, .submenu-button {
    background-color: rgb(232, 67, 67);
}

body {
    margin: 0;
}

.logo-header {
    width: 96px;
    height: 24px;
    margin: 0px 15px;
}

.navigation-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-header-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 2px;
}

.navigation-header-item img {
    width: 28px;
    height: 28px;
}

/*paragraphe enfant direct de item d'header*/
.navigation-header-item p, .submenu-item p {
    color: white;;
    font-size: 13.5px;
    text-align: center;
    padding: 4px 2px 0px 4px;
    margin: 0px;
}

.left-header {
    background-color: rgb(149, 47, 47);
    width: 100px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.submenu-button {
    border-top-right-radius: 15px;
    margin: 0.25px;
    height: 100px;
}

.submenu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.submenu-item img {
    width: 31.5px;
    height: 30px;
}