header {
    width : 100%;
    height: 71px;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, .submenu-button {
    background-color: rgb(229, 28, 28);
}

header, .left-header {
    z-index: 1;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.logo-header {
    width: 96px;
    height: 24px;
    margin-left: 25px;
}

.navigation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navigation-header-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 2px;
}

.navigation-header-item img {
    width: 28px;
    height: 28px;
}

/*paragraphe enfant direct de item d'header*/
.navigation-header-item p, .submenu-item p {
    color: white;;
    font-size: 13.5px;
    text-align: center;
    padding: 4px 2px 0px 4px;
    margin: 0px;
}

.left-header {
    background-color: rgb(153, 25, 25);
    top: 71px;
    width: 90px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.submenu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    margin: 0.25px;
    height: 90px;
}

.submenu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.submenu-item img {
    width: 40px;
    height: 40px;
}

#central-menu {
    height: 50px;
}

.grid-container {
    background-color: grey;
    top:71px;
    left:90px;
    position: absolute;    
    display: grid;
    grid-gap: 2.5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid-container div {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1px;
}

.grid-container div img {
    width: 500px;
    height: 350px;
}

.grid-horizontal-item {
    grid-column: span 2;
}

.grid-vertical-item {
    grid-row: span 2;
}

.grid-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}